md-content.md-default-theme {
  background-color: #eee; }

md-card {
  background-color: #fff; }

md-card h2:first-of-type {
  margin-top: 0; }

md-toolbar .md-button.md-default-theme {
  border-radius: 99%; }

h2 {
  font-weight: 400; }

.md-toolbar-tools-bottom {
  font-size: small; }

.md-toolbar-tools-bottom:last-child {
  opacity: 0.8; }

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff; }

md-sidenav {
  fill: #737373; }

md-sidenav ng-md-icon {
  position: relative;
  top: 5px; }

.user-avatar {
  border-radius: 99%; }

/* Tabs in profile */
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }

.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1; }

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
  background: white; }

.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0; }

.datepicker {
  background: #f6f6f6; }

/* Buttons */
.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }

.buttondemoBasicUsage md-content {
  margin-right: 7px; }

.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }

.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }

.user-avatar {
  border-radius: 99%; }

/*This is for the tabs in the profile page.*/
#profileDropDown {
  color: white; }

a {
  color: rgba(0,0,0,0.87);
  text-decoration: none; 
}
a:hover {
  text-decoration: none;
    color: #00897B;
}
#profileContainer {
  min-width: auto;
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px; 
  width: 100%;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center; }

  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px; }

  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8; } }
/*** Footer section ***/
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  margin-top: 80px; }
  .footer-distributed md-card {
    background-color: #fff; }

md-card h2:first-of-type {
  margin-top: 0; }

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0; }

md-toolbar .md-button.md-default-theme {
  border-radius: 99%; }

/* Footer links */
h2 {
  font-weight: 400; }

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0; }

.md-toolbar-tools-bottom {
  font-size: small; }

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit; }

.md-toolbar-tools-bottom:last-child {
  opacity: 0.8; }

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px; }

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff; }

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px; }
  .footer-distributed .footer-right a md-sidenav {
    fill: #737373; }
  .footer-distributed .footer-right a md-sidenav ng-md-icon {
    position: relative;
    top: 5px; }

#mainContainer {
  width: 800px;
  max-width: 90%;
  margin-top: 100px; }

#signupContainer {
  width: 800px;
  max-width: 90%;
  margin-top: 100px; }

#loginContainer {
  width: 800px;
  max-width: 90%;
  margin-top: 100px; }

/*#headerRow {
  margin-top: 50px; }*/

md-badge {
  margin: 0 0 0 8px;
  background-color: #259b24;
  color: white;
  padding: 2px 4px;
  border-radius: 4px; }

md-warn {
  background-color: #259b24; }



/* Custom Stylesheet */
/**
 *
 * Made By Joash Pereira
 * Thanks for MaterializeCSS.com
 */

.default_color{background-color: #2196F3 !important}

.default_color_text{color: #2196F3 !important}

.icon-block {
    padding: 0 15px;
}

#intro, #work, #team {padding-top: 4rem;}


#index-banner {
    min-height: 632px;
    max-height: 864px;
    position: relative;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #272727;
}

#nav_f{
    box-shadow: none !important; 
    -webkit-box-shadow:none !important;
}

.text_h {
    padding: 20% 0;
    font-size: 6.0em;
    font-weight: 100;
    color:white;
    margin-bottom: 0px;
}

.brand-logo{
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px;
}

.text_h2 {font-weight: 100;margin-bottom: 4%; line-height: 4.5rem;}

.span_h2 {font-weight: 300;color: #26a69a;}

.text_b{color: #2196F3;}

.in{font-weight: 400 !important; font-style: normal !important;}

.promo i {
/*    color: #2196F3;*/
    font-size: 7rem;
    display: block;
}
.card-content a {color: #2196F3;}

.card-content a:hover {color: #2196F3;}

#work, #team{background: rgb(247, 247, 247);}

.text_pink{color:#EF9A9A;}

nav ul a {
    font-size: 1.2rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
    background-color: #FFF;
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: #2196F3;
}

.cd-headline.type b {
    visibility: hidden;
}

.cd-headline.type b.is-visible {
    visibility: visible;
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}
.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}


/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:1200; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

input, textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -25px;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {
    margin: 15px 0px;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}

.parallax-container {
    max-height: 300px;
}

footer.page-footer {
    margin-top: 0px !important;
}
.aboutus-img {
        width: 100%;
}

.navbar-fixed {
    position: fixed;
}

.hand {
    position: absolute;
    width: 400px;
    bottom: 0;
    right: 5%;
}

.read-more-arrow {
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}



.step2 {
    background-color: #F7F7F7;
}

.image1-canvac {
    width: 400px;

}

.image1-canvac > img {
    height: 200px;
    margin-top: 25px;
    margin-left: 10px;
}

.image-name {
   position: absolute;
    top: 30px;
    margin-left: 230px;
    font-size: 30px;
}

.features > p {
    font-size: 18px;
}

.features {
    padding-left: 50px;
    text-align: justify;
}

.top-nav-scrolled
{
    background-color: #424242 !important;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.promo > #step1 {
    color: #4db6ac;
}
.promo > #step2 {
    color: #4db6ac;
}
.promo > #step3 {
    color: #4db6ac;
}
.about-us {
    text-align: center;
    margin-top: -20px;
    padding: 0 10%;
}

.h2-line {
    width: 60px;
    margin-top: 10px;
    border-color: lightblue;
}

#intro {
/*
    background: url(../img/about-bg.jpg) center no-repeat;
    background-size: cover;
*/
    padding-top: 90px;
    padding-bottom: 80px;
    min-height: 400px;
    background: transparent;
}

#steps {
    padding-top: 80px;
    padding-bottom: 80px;
}

#signup-for-free {
    background: #f7f7f7;
    padding-top: 80px;
    padding-bottom: 80px;
}

.gray {
    background-color: #525252 !important;
}

.features-left {
    padding-right: 50px;
    text-align: justify;
}

#features {
    padding-top: 70px;
    padding-bottom: 70px;
}

.darker-gray {
    background-color: #424242;
}

#nav-top {
        box-shadow: none; 
    -webkit-box-shadow:none;

}

.step-tutor {
        background-color: #F7F7F7;
}

#tutor-steps {
    padding-top: 40px;
    padding-bottom: 40px;
}

.tutor-promo > i{
    color: #26a69a; 
}
.tutor-promo2 > i{
    color: #2675A6; 
}

.tutor-q {
    font-size: 30px;
    line-height: 1.5;
    font-weight: 100;
    color:white;
    margin-bottom: 0px;
    padding: 0 10%;
    margin-bottom: 50px;
}
.tutor-q > span{
    font-size: 15px;
    color: #dedede;
}

.tutor-header {
        padding: 16% 0;
}

.signup-section {
    color: #3e3e3e;
    margin-bottom: 20px;
}
.temp-features-image {
    display: none;
}

@media (max-width: 768px) {
    nav a.button-collapse {
        left: 0px;
    }
    .tutor-q {
        font-size: 24px;
        padding: 0 5px;
    }
    .hand
    {
        display: none;
    }
    .text_h
    {
        font-size: 3em;
        padding: 40% 0;
        height: 385px;
    }
    #index-banner
    {
        min-height: 360px;
        max-height: 464px;

    }
    #intro {
        padding-top: 40px;
        padding-bottom: 40px;
        min-height: 300px;
        background: transparent;
    }
    #steps {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #features {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .about-us
    {
        margin-top: 10px;
        padding: 0;
    }
    .text_h2 {
        font-size: 2.3rem;
        line-height: 43px;
    }
    .h2-line {
/*        margin-top: -5px;*/
    }
    .features-h2
    {
        margin-bottom: 40px;
    }
    .features {
        padding-left: 0px;
    }
    .features-left
    {
        padding-right: 0px;
    }
    .temp-features-image
    {
        display: block;
    }
    .orginal-features-image
    {
        display: none;
    }
}





/*# sourceMappingURL=style.css.map */

.content-padding {
    max-width: 1200px;
    margin: 0 auto;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 2px;
}

.round-circle {
    border: solid 1 black;
    
}
.no-margin-left {
    margin-left: 0px;
}

.about-icon {
    margin-right: 10px;
    margin-bottom: 5px;
}


.star-icon-colored {
    color: #00897B;
}

.post-tags {
    margin-top: -9px;
    padding-top: 0px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.post-header-info {
    text-align: center;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.attachment-item {
    width: 110px;
    height: 90px;
    float: left;
    position: relative;
    border: solid 1pt #777777;
    margin: 5px;
    border-radius: 4px;
}

.attachments-list {
    overflow: hidden;
}

.attachment-item-footer > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-spacing: normal;
    margin: 4px;
}
.attachment-item-footer {
    bottom: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px;
    color: #000;
    background: #F9F9F9;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.attachment-item-content {
    padding-bottom: 20px;
    height: 100%;
}
.attachment-item-content > i{
/*    color: #D80000;*/
    font-size: 25px;
}
.attachment-item-content > .fa-file-word-o{
    color: #2C5898;
}
.attachment-item-content > .fa-file-pdf-o{
    color: #DA473E;
}
.attachment-item-content > .fa-file-powerpoint-o{
    color: #D04727;
}
.attachment-item-content > .fa-file-excel-o{
    color: #207347;
}
.attachment-item-content > .fa-file-image-o{
    color: #FFD13C;
}
.attachment-item-content > .fa-file-o{
    color: #FFD13C;
}
.attachment-item-download
{
    display: none;
    height: 100%;
    margin: 0;
    width: 100%;
}

.attachment-item:hover .attachment-item-content
{
    display: none;
}
.attachment-item:hover .attachment-item-footer
{
    display: none;
}
.attachment-item:hover .attachment-item-download
{
    display: flex;
}
.gray-text {
    color: gray;
}

.start-icon-tutors {
    font-size: 17px;
    width: 12px;
    height: 18px;
}



md-list-item.proposals-item {
    padding: 25px 16px;
}

img.proposals-item-img {
    width: 68px;
    height: 68px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.proposals-item-comment {
    margin-top: 4px;
}

md-whiteframe {
    background-color: #fff;
}

.loginContainer {
  padding: 40px;
}


.proposals-number {
    margin-right: 5px;
}

.proposals-header:focus {
    outline: none;
    border: 0;
}

.options-footer {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

md-input-container.dense-form {
    margin-bottom: 0;
}

.star-icon {
    color:#C5C5C5;
}
/*
.chat .md-list-item-text:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
*/
.chat > div:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -12px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 12px solid;
    border-color: #F5F5F5 transparent transparent transparent;
}
md-list-item.chat > div {
    background-color: #F5F5F5;
    padding: 8px;
    position: relative;
    margin-bottom: 6px;
}
md-list-item.chat {
    min-height: 70px;
}



.chat > div.personal-chat:after{
    border-color: #5C6BC0 transparent transparent transparent;
}
md-list-item.chat > div.personal-chat {
    background-color: #5C6BC0;
}

md-list md-list-item.md-3-line .md-list-item-text p {
    color: rgba(0,0,0,0.84);
    padding: 3px 0px;
}
md-list md-list-item.md-3-line .personal-chat p {
    color: rgba(255,255,255,0.84);
}
md-list-item.md-3-line .md-list-item-text
{
    margin-top: 25px;
    margin-bottom: 10px;
}
.chat-container , .send-chat-container
{
    border: solid 1px #E1E1E1;
}
.send-chat-container
{
    border-top: none;
}
.proposal-item-action-menu > .md-button {
    margin-top: 0px;
    margin-bottom: 0px;
}

md-list-item.suggested-tutors-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    margin-top:90px;
    background-color: #fff;
}
.footer >div {
    margin-top:20px;
    padding-right: 20px;
    padding-left: 70px;
}

.tutor-profile-image
{
/*        box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);*/
        margin-left: 27px;
}
/*login Page*/
.rememberMe {
  margin-left: 20px;
}
.loginButton {
  margin-left: 40px;
}
.userTypeField {
  margin-left: 40px;
}


/*  temp Fix for error spacing */
md-input-container .md-errors-spacer {
    min-height: 0;
}
.post-pay, .post-time{
    margin-top: 18px;
    min-height: 40px;
}

.post-pay > md-input-container {
    margin-top: 0px;
}

.post-submit {
    margin-top: 25px;
}
