<!doctype html>
<html ng-app ="myApp">
  <head>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-route.min.js"></script>
<!--
    <script type="https://code.angularjs.org/1.5.0-beta.2/angular.min.js"></script>
    <script type="https://code.angularjs.org/1.5.0-beta.2/angular-route.min.js"></script>-->

    <script src="app.js"></script>
    <script src="additatives.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">

  </head>
  <body>

  <div class="container">
    <div class="row">
      <div>
        <nav class="navbar navbar-default navbar-fixed-top">
          <ul class="list-inline">
            <li>
              <a href="#">home</a>
            </li>
            <li>
              <a href="#/login">login</a>
            </li>
            <li>
              <a href="#/signup">signup</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row" id="row1">
      <div>
        <div ng-controller="mainController">
            <label>Name:</label>
            <input type="text" ng-model="name" placeholder="Enter a name here">
            <hr>
            <div class="alert" ng-class="{'alert-warning': name.length < 8, 'alert-danger': name.length > 15}" ng-show="name.length < 8 || name.length > 15">
              Must be 8 to 15  characters. 
            </div>
            <hr>
            <h1>Hello {{ capitalize() }}! your mom name is {{mom}}</h1>
            <div>
  <!--             <label>Check me check multiple: <input type="checkbox" ng-model="open"></label><br/>
   -->            <details id="details" ng-open="name.length < 8 || name.length > 15">
                 <summary>Show/Hide me</summary>
                  <ul>
                    <li ng-show= "name.length < 8 || name.length > 15" ng-repeat="rule in rules"> 
                        {{ rule.ruleapplied }}
                    </li>
                  </ul>
              </details>
            </div>
        </div>
      </div>
    </div>
    <div ng-controller="mainController" class="row">
      <div class="homework-post-dir"  person-name=" {{ person.name }} "></div>
      <homework-post-dir></homework-post-dir>
      <div ng-view></div>

    </div>

  </div>


  </body>
</html>