<nav class="navbar navbar-inverse navbar-fixed-top ng-scope" role="navigation">

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand" ui-sref="main">Tutorial +</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" ng-controller="NotifyCtrl">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="main">Home</a>
                </li>
                <li ng-hide= "authData" ><a ui-sref="login">Login</a>
                </li>
                <li ng-hide= "authData" ><a ui-sref="signup">Signup</a>
                </li>
                <li>
                    <md-content>
                        <md-button class="md-raised md-primary">{{title}}<md-badge ng-class="{'md-warn': warn()}">{{badgeNum}}</md-badge></md-button>
                    </md-content>
                </li>


                <li><a ui-sref="dashboard">Dashboard</a>
                </li>
                <li class="dropdown">
                    <a href="" ng-click="isCollapsed = !isCollapsed" >Profile <b class="caret"></b></a>
                    <ul ng-show="isCollapsed">
                        <li><a href="#/myPosts">List of Posts</a>
                        </li>
                        <li><a ui-sref="dashboard">Edit Profile</a>
                        </li>
                    </ul>
                </li>
                <li ng-click="logout()" ng-show= "authData" ><a ui-sref="main">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

                <form action="https://tutoring-images.s3.amazonaws.com/" method="post" enctype="multipart/form-data"  name="form">
                    <input type="hidden" name="key" value="uploads/${filename}" />
                    <input type="hidden" name="acl" value="public-read" />
                    <input type="hidden" name="success_action_redirect" value="">
                    <input type="hidden" name="content-type" value="image/png" />
                    <input type="hidden" name="AWSAccessKeyId" value="AKIAIVXWPHX7GO3MKQ4Q" />
                    <input type="hidden" name="policy" value="ewogICJleHBpcmF0aW9uIjogIjIwMjAtMDEtMDFUMDA6MDA6MDBaIiwKICAiY29uZGl0aW9ucyI6IFsKICAgIHsiYnVja2V0IjogInR1dG9yaW5nLWltYWdlcyJ9LAogICAgWyJzdGFydHMtd2l0aCIsICIka2V5IiwgInVwbG9hZHMvIl0sCiAgICB7ImFjbCI6ICJwdWJsaWMtcmVhZCJ9LAogICAgeyJzdWNjZXNzX2FjdGlvbl9yZWRpcmVjdCI6ICIifSwKICAgIFsic3RhcnRzLXdpdGgiLCAiJENvbnRlbnQtVHlwZSIsICJpbWFnZS9wbmciXSwKICAgIFsiY29udGVudC1sZW5ndGgtcmFuZ2UiLCAwLCA1MjQyODgwMDBdCiAgXQp9" />
                    <input type="hidden" name="signature" value="WKRrtjsRe7Wn4pQWSnTuKY4Y364=" />

                    <input type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"  ngf-resize="{width: 100, height: 100}" />

                   <!-- <md-button type="submit" class="md-raised" ng-click="submit()">submit</md-button>  -->
                    Image thumbnail: <img ngf-thumbnail="file || ''"> 
                    <md-button class="md-raised" ng-click="submit()"  ng-show= "authData">Post</md-button>

                </form>