<md-dialog aria-label=""   ng-controller="AssignmentCtrl">
  <form>
    <md-toolbar>
      <div ng-model="$parent.items" class="md-toolbar-tools" >
        <h2>{{ items.question }}</h2>
        <span flex> <md-button class="btn1" ng-click=""> {{items.author}} </md-button></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content ng-model="$parent.items" ng-value="obj">
      <div class="md-dialog-content">
        <h2>{{items.question}}</h2>
        <p>
          {{items.content}}
        </p>
        <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="">
        <p>
          {{items.content}}
        </p>
        <p>
          It originated in Indian subcontinent (present day India and Pakistan) and Burma. It is the national fruit of India, Pakistan, and the Philippines, and the national tree of Bangladesh. In several cultures, its fruit and leaves are ritually used as floral decorations at weddings, public celebrations, and religious ceremonies.
        </p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('Message')">
       Message
      </md-button>
      <md-button ng-click="answer('Propose')" style="margin-right:20px;">
        Propose
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
