  <div layout="column" class="dashboard">
     <md-toolbar ng-controller="AuthCtrl">
      <div class="md-toolbar-tools top-nav" >
          <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleMenu()">
              <ng-md-icon icon="menu"></ng-md-icon>
          </md-button>
          <h2>
              <a ui-sref="main" class="md-accent logo">InstaTutor</a>
          </h2>
          <span flex></span>
          <md-menu md-position-mode="target-right target" md-offset="0 64">
          <md-button class="md-icon-button"  style="font-size:32px;" aria-label="notification" ng-style="{ 'color' : alertColor} " ng-click="$mdOpenMenu($event)" >
              <ng-md-icon icon="notifications"></ng-md-icon>
          </md-button>
          <md-menu-content width="4" >
              <md-subheader class="md-primary">Notifications</md-subheader>
            <md-menu-item>
                <md-button>
                  <div layout="row" flex>
                    <md-icon class="material-icons" icon="avatar">message</md-icon>
                    <p flex>New Messages from Abdul</p>
                  </div>
                </md-button>
            </md-menu-item>
              <md-menu-item>
                <md-button>
                  <div layout="row" flex>
                    <md-icon class="material-icons" icon="avatar">work</md-icon>
                    <p flex>new proposal on "Math help needed"</p>
                  </div>
                </md-button>
            </md-menu-item>
              <md-menu-item>
                <md-button>
                  <div layout="row" flex>
                    <md-icon class="material-icons" icon="avatar">subject</md-icon>
                    <p flex>final submission on "Math help needed"</p>
                  </div>
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button>
                  <div layout="row" flex>
<!--                    <md-icon class="material-icons" icon="avatar">subject</md-icon>-->
                    <p flex>Read all notifications</p>
                  </div>
                </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
          
          <md-menu md-position-mode="target-right target" md-offset="0 64">
            <a class="md-button md-icon-button nav-avatar" aria-label="User Menu" ng-click="$mdOpenMenu($event)">
              <img src="../images/abdul_img.png"/>
            </a>
          <md-menu-content width="4" >
            <md-menu-item>
              <md-button>
                  <div layout="row" flex>
                    <md-icon class="material-icons" icon="avatar">settings</md-icon>
                    <p flex>go to settings</p>
                  </div>
              </md-button>
            </md-menu-item>
              <md-menu-item>
              <md-button>
                  <div layout="row" flex>
                    <md-icon class="material-icons" icon="avatar">person</md-icon>
                    <p flex>edit profile</p>
                  </div>
              </md-button>
            </md-menu-item>
              <md-menu-item ng-show= "authData">
              <md-button ng-click="logout()" ui-sref="main">
                  <div layout="row" flex >
                    <md-icon class="material-icons" icon="avatar">arrow_back</md-icon>
                    <p flex>Logout</p>
                  </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
          
          
      </div>
  </md-toolbar>
  <div layout="row" flex >
          <md-sidenav layout="column" class="md-sidenav-left md-primary md-whiteframe-z2 main-menu" md-component-id="left" md-is-locked-open="$mdMedia('gt-md') && navIsOpen" >
        <!-- this is the toolbar that holds the avatar and names -->
<!--
          <md-toolbar>
            <span flex></span>
              <div layout="column" class="md-toolbar-tools-bottom inset">
                <div class="user-info" style="text-align:center">
                    <img src="../images/angular-avatars/avatar-01.png" class="md-avatar profile-image" />
                     <h4>Abdul Alzaid</h4>
                     <h4>amzaid92@gmail.com</h4>
                </div>
            </div>
          </md-toolbar>
-->
          <md-subheader>Navigation</md-subheader>
          <md-list ng-controller="SideNavCtrl" >
            <md-item ng-repeat="item in menu">
                <md-item-content layout="row" layout-align="start center" ng-show="item.show">
                    <a flex md-ink-ripple ui-sref-active="active" class="menu-button md-button md-ink-ripple"  ui-sref="{{item.direct}}">
                        <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                        {{item.title}}
                    </a>
                </md-item-content>
            </md-item>
        </md-list>
              <md-divider></md-divider>
            <md-subheader class="menu-subheader hue-1">Management</md-subheader>
              <md-list ng-controller="SideNavCtrl">
                <md-item ng-repeat="item in managementList">
                    <md-item-content layout="row" layout-align="start center">
                        <a flex md-ink-ripple ui-sref-active="active" class="menu-button md-button md-ink-ripple"  ui-sref="{{item.direct}}">
                            <md-icon class="material-icons about-icon">message</md-icon>
                            <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                          {{item.title}}
                        </a>
                    </md-item-content>
                </md-item>
            </md-list>

          <md-list class="menu-footer">
                  <!-- List item #1 -->
                  <md-item>
                    <md-item-content layout="row" layout-align="start center">
                        <a flex md-ink-ripple ui-sref-active="active" class="menu-button md-button md-ink-ripple" ui-sref="dashboard.myProfile">
                            <md-icon class="material-icons about-icon">help</md-icon>
                          Need any help?
                        </a>
                    </md-item-content>
                </md-item>
          </md-list>
        </md-sidenav>

  <md-content style="background-color:#F5F5F5" flex>

    <div class="row" ng-controller="NotifyCtrl">
    <toast></toast>
    </div>
          <div class="content-padding" ui-view></div>

          <div class="footer content-padding">
             <md-divider></md-divider>
              <div layout="row" layout-align="center center">
                  <div flex="25">
                      <h1 style="margin-bottom:5px;"  class="md-subhead">Get to know us</h1>
                      <div class="md-body-1"><a>About us</a></div>
                      <div class="md-body-1"><a>Terms and privacy</a></div>
                      <div class="md-body-1"><a>Contact Us</a></div>
                  </div>
                  <div flex="25">
                      <h1 style="margin-bottom:5px;" class="md-subhead">Get involved</h1>
                      <div class="md-body-1"><a>become a tutor</a></div>
                      <div class="md-body-1"><a>partnership</a></div>
                      <div class="md-body-1"><a>investment</a></div>
                  </div>
                  <div flex="25">
                      <h1 style="margin-bottom:5px;" class="md-subhead">Platform</h1>
                      <div class="md-body-1"><a>how it works</a></div>
                      <div class="md-body-1"><a>help</a></div>
                      <div class="md-body-1"><a>payment</a></div>
                  </div>
                  <div flex="25">
                      <h1 style="margin-bottom:5px;" class="md-subhead">Find us</h1>
                    <div class="md-body-1">
                        <a href="https://www.behance.net/">
                            <i class="small fa fa-twitter-square white-text"></i> Twitter
                        </a>
                    </div>
                    <div class="md-body-1">
                        <a href="https://www.facebook.com/">
                            <i class="small fa fa-facebook-square white-text"></i> Facebook
                        </a>
                    </div>
                    <div class="md-body-1">
                        <a href="https://www.linkedin.com/in/">
                            <i class="small fa fa-linkedin-square white-text"></i> Linkedin
                        </a>
                    </div>
                  </div>
              </div>
              <div style="text-align:center;padding-bottom: 10px;margin-top:25px;"> &#169; Copyright 2016 InstaTutor.</div>
          </div>
 </md-content>
      </div>
</div>