<div ng-controller="AuthCtrl">

    <!--Navigation-->
     <div class="navbar-fixed">
        <nav id="nav-top" class="top-nav-scrolled" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                <a ui-sref="main" id="logo-container" class="brand-logo">School Tutoring</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a ng-show= "authData" ui-sref="dashboard.myProfile">Dashboard</a></li>
                        <li><a ng-hide= "authData" ui-sref="login">Login</a></li>
                        <li><a ng-hide= "authData" ui-sref="signup">Signup</a></li>
                        <li><a ui-sref="become-tutor">become a tutor</a></li>
                        <li><a ng-click="logout()" ng-show= "authData" ui-sref="main">Logout</a>
                    </ul>
                    <ul id="nav-mobile" class="side-nav">
                        <li><a ng-hide= "authData" ui-sref="login">Login</a></li>
                        <li><a ng-hide= "authData" ui-sref="signup">Signup</a></li>
                        <li><a href="https://github.com/joashp/material-design-template" target="_blank">become a tutor</a></li>
                    </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                </div>
            </div>
        </nav>
    </div>

</div>

