
<div layout="row" layout-wrap ng-controller="AssignmentCtrl">
    <div flex="70" layout="column">
          <md-whiteframe md-whiteframe="3" layout-padding layout-margin flex>
               <h1 class="md-headline">{{question}} ({{field}} )</h1>
                               <div class="post-tags">Math, KFUPM, Math101</div>

                <div  class="post-header-info" flex layout="row" layout-align="center center">
                  <div flex class="post-header-info2">
                            <md-tooltip md-direction="top">
                              Due Date
                            </md-tooltip>
                      <span><md-icon class="material-icons about-icon">access_time</md-icon></span>
                        <span>{{dueDate}}</span>
                  </div>
                  <div flex class="post-header-info2">
                     <md-tooltip md-direction="top">
                              Expected Job Price
                    </md-tooltip>
                      <span><md-icon class="material-icons about-icon">payment</md-icon></span>
                      <span>{{amount}} $</span>
                  </div>
                  <div flex class="post-header-info2">
                      <md-tooltip md-direction="top">
                              Job Status
                      </md-tooltip>
                      <span><md-icon class="material-icons about-icon">mood</md-icon></span>
                      <span>Open</span>
                  </div>
                </div>
                <hr/>
                <h1 class="md-title">Details</h1>
                <p class="md-body-1">
                    {{content}}
                </p>
            <div class="attachments" flex>
              <h1 class="md-title">Attachments</h1>
               <div class="attachments-list">
                    <div class="attachment-item" layout-align="center center">
                        <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="download">
                            <md-icon class="material-icons">file_download</md-icon>
                        </md-button>
                        <div class="attachment-item-content" flex layout="column" layout-align="center center">
                            <i class="fa fa-file-pdf-o"></i>
                        </div>
                        <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                    </div>
                    <div class="attachment-item" layout-align="center center">
                        <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="download">
                            <md-icon class="material-icons">file_download</md-icon>
                        </md-button>
                        <div class="attachment-item-content" flex layout="column" layout-align="center center">
                            <i class="fa fa-file-powerpoint-o"></i>
                        </div>
                        <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                    </div>
                    <div class="attachment-item" layout-align="center center">
                        <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="download">
                            <md-icon class="material-icons">file_download</md-icon>
                        </md-button>
                        <div class="attachment-item-content" flex layout="column" layout-align="center center">
                            <i class="fa fa-file-word-o"></i>
                        </div>
                        <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                    </div>
                </div>
            </div>
            <div class="options-footer" layout="row" layout-align="center center">
                <span class="md-caption">Posted {{postedWhen}} ago</span>
                <span flex=""></span>
                
                <md-menu md-position-mode="target-right target" md-offset="0 40">
                  <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <ng-md-icon icon="more_horiz"></ng-md-icon>
                  </md-button>
                  <md-menu-content width="3">
                    <md-menu-item>
                      <md-button>
                        <md-icon class="material-icons start-icon-tutors">remove_circle</md-icon>
                        Remove
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button>
                        <md-icon class="material-icons start-icon-tutors">report</md-icon>
                        Report
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
            </div>
        </md-whiteframe>
        
        <md-whiteframe md-whiteframe="3" layout-padding flex layout-margin>
            
            <div class="proposals-header" ng-click="toggleProposalsPanel()" layout="row" layout-align="center center">
                <h1 class="md-title">Proposals</h1>
                <span flex></span>
                <div class="md-subhead proposals-number" ng-model="numOfProposals">{{numOfProposals}} Proposals</div>
                <md-icon ng-hide="proposalsPanel" class="material-icons">expand_more</md-icon>
                <md-icon ng-show="proposalsPanel" class="material-icons">expand_less</md-icon>
            </div>
            <md-list ng-show="proposalsPanel" layout-padding>
            <md-divider></md-divider>
            <md-list-item class="proposals-item"  ng-click="" ng-repeat= "proposal in proposalsArray">
                <md-divider></md-divider>
                <img src="../images/abdul_img.png" class="md-avatar proposals-item-img" alt="">
                <div>
                  <div class="md-title">{{proposal.tutorName}}</div>
                  <div>
                       <md-tooltip md-direction="left">
                              4.8
                      </md-tooltip>
                        <span><md-icon class="material-icons start-icon-tutors star-icon-colored">star</md-icon></span>
                        <span><md-icon class="material-icons start-icon-tutors star-icon-colored">star</md-icon></span>
                        <span><md-icon class="material-icons start-icon-tutors star-icon-colored">star</md-icon></span>
                        <span><md-icon class="material-icons start-icon-tutors star-icon-colored">star</md-icon></span>
                        <span><md-icon class="material-icons start-icon-tutors star-icon-colored">star</md-icon></span>
                        <span>(5 reviews)</span>
                  </div>
                  <div class="md-body-1 proposals-item-comment">
                    {{proposal.message}}
                  </div>
                </div>
                <div layout="column" class="md-secondary" layout-align="center center">
                    <div class="md-headline">{{proposal.amount}} $</div>
                    <div class="md-subhead">in 1 day</div>
                </div>
            </md-list-item>

          </md-list>
        </md-whiteframe>
        <md-whiteframe id="propose" ng-show="userType" md-whiteframe="3" layout-padding flex layout-margin>
        <h4 class="md-title">Propose</h4>
        <form name="userForm">
                   <div layout-gt-sm="row">
                    <md-input-container class="md-block dense-form" flex-gt-sm >
                        <label>Price</label>
                        <input value="{{amount}}" required type="number" step="1.0" ng-model="counterOffer">
                    </md-input-container>
                    <md-input-container class="md-block dense-form" flex-gt-sm>
                        <label>Time to complete</label>
                        <input required type="number" step="1.0">

    
<!--
                        <md-select>
                            <md-option value="less than an hour">
                            less than an hour
                            </md-option>
                            <md-option value="less than 3 hour">
                            less than 3 hour
                            </md-option>
                            <md-option value="less than a day">
                            less than a day
                            </md-option>
                            <md-option value="less than 3 day">
                            less than 3 day
                            </md-option>
                            <md-option value="less than a week">
                            less than a week
                            </md-option>
                            <md-option value="less than 3 weeks">
                            less than 3 weeks
                            </md-option>
                        </md-select>
-->
    
                    </md-input-container>
                    </div>
                <md-input-container class="md-block dense-form">
                    <label>Proposal comment</label>
                    <textarea rows="5" ng-model="proposalMessage"></textarea>
                </md-input-container>
                <div layout="row">
                   <span flex></span>
                    <md-button class="md-raised md-primary" ng-click="propose(authorID, jobID)">Propose</md-button>	
                </div>
                

</form>
        </md-whiteframe>
        
    </div>
    <div flex="30">
        <md-whiteframe layout-margin md-whiteframe="3" flex layout="column">
                <md-button class="md-raised md-primary" ng-click="propose(authorID, jobID)" ng-show="userType">Propose</md-button>
                <md-button class="md-raised" ng-show="userType" ng-click="bookmark()">Bookmark</md-button>
                <md-divider></md-divider>
                <div class="md-title" style="text-align:center">User Details</div>
                <div class="user-info" style="text-align:center">
                    <img src="../images/abdul_img.png" class="md-avatar profile-image" />
                    <div class="md-title">{{userName}}</div>
                    <div>
                        <span><md-icon class="material-icons star-icon-colored">star</md-icon></span>
                        <span><md-icon class="material-icons star-icon-colored">star</md-icon></span>
                        <span><md-icon class="material-icons star-icon-colored">star</md-icon></span>
                        <span><md-icon class="material-icons star-icon-colored">star</md-icon></span>
                        <span><md-icon class="material-icons star-icon">star</md-icon></span>
                    </div>
                    <div class="md-subhead">16 reviews</div>
                </div>
                <md-divider></md-divider>
                <div class="md-title">About:</div>
                <md-list>
                <md-list-item class="md-1-line">
                <span><md-icon class="material-icons about-icon">work</md-icon></span>
                  <div class="md-list-item-text">
                    <p>5 Jobs done</p>
                  </div>
                </md-list-item>
                <md-list-item class="md-1-line">
                <span><md-icon class="material-icons about-icon">location_on</md-icon></span>
                  <div class="md-list-item-text">
                    <p>From Los Angeles</p>
                  </div>
                </md-list-item>
                <md-list-item class="md-1-line">
                 <span><md-icon class="material-icons about-icon">school</md-icon></span>
                  <div class="md-list-item-text">
                    <p>Student at LMU</p>
                  </div>
                </md-list-item>
                <md-list-item class="md-1-line">
                 <span><md-icon class="material-icons about-icon">book</md-icon></span>
                  <div class="md-list-item-text">
                    <p>Studying Software Engineering</p>
                  </div>
                </md-list-item>
                </md-list>
                <div layout="row">
                   <span flex=""></span>
                    <span><md-button class="md-raised"><md-icon class="material-icons" style="color: darkgreen">check</md-icon> Verified</md-button></span>
                </div>
        </md-whiteframe>
    </div>
</div>