
 <div>

    <br/>
    <br/>
    <br/>
 </div>
<div layout="row" layout-wrap>
    <div flex="70" layout="column">
          <div md-whiteframe="3" layout-padding layout-margin flex>
               <h2 class="md-headline">{{question}} ({{field}} )</h2>
                <md-list flex layout="row" layout-align="center center">
                  <md-list-item>
                      <ng-md-icon icon="access_time"></ng-md-icon>
                      <span>{{dueDate}}</span>
                  </md-list-item>
                  <md-list-item>
                      <ng-md-icon icon="attach_money"></ng-md-icon>
                      <span>{{amount}}$</span>
                  </md-list-item>
                  <md-list-item>
                      <ng-md-icon icon="mood"></ng-md-icon>
                      <span>Open</span>
                  </md-list-item>
                </md-list>
                <md-chips>
                    <md-chip>Math</md-chip>
                    <md-chip>KFUPM</md-chip>
                    <md-chip>Math101</md-chip>
                </md-chips>
            <div class="details">
                <h4 class="md-title">Details</h4>
                <p class="md-body-1">
                    {{content}}
                </p>
            </div>
            <div class="attachments">
                <div><ng-md-icon icon="office"></ng-md-icon></div>
            </div>
            <div class="options-footer">
                <span class="md-caption">Posted {{postedWhen}} ago</span>
                <ng-md-icon icon="more_horiz"></ng-md-icon>
            </div>
        </div>
        <div md-whiteframe="3" layout-padding flex layout-margin>
        <h4 class="md-title">Proposal</h4>
        <form name="userForm">
                   <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>$</label>
                        <input required type="number" step="1.0">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Time to complete</label>
                        <input required type="number" step="1.0">

    
<!--
                        <md-select>
                            <md-option value="less than an hour">
                            less than an hour
                            </md-option>
                            <md-option value="less than 3 hour">
                            less than 3 hour
                            </md-option>
                            <md-option value="less than a day">
                            less than a day
                            </md-option>
                            <md-option value="less than 3 day">
                            less than 3 day
                            </md-option>
                            <md-option value="less than a week">
                            less than a week
                            </md-option>
                            <md-option value="less than 3 weeks">
                            less than 3 weeks
                            </md-option>
                        </md-select>
-->
    
                    </md-input-container>
                    </div>
                <md-input-container class="md-block">
                    <label>Proposal comment</label>
                    <textarea rows="5"></textarea>
                </md-input-container>
                    <md-button class="md-raised">Propose</md-button>	
</form>
        </div>
    </div>
    <div flex="30">
        <div layout-margin md-whiteframe="3" flex layout="column">
                <md-button class="md-raised md-primary">Propose</md-button>
                <md-button class="md-raised">Bookmark</md-button>
                <div class="user-info" layout-align="center center">
<!--                    <img src="../images/abdul_img.png" class="md-avatar" />-->
                </div>
        </div>
    </div>
</div>