<nav class="landingpage-nav top-nav-scrolled">
    <div class="md-toolbar-tools top-nav" >
        <h2>
            <a ui-sref="dashboard.main" class="md-accent logo">InstaTutor</a>
        </h2>
        <span flex></span>          
        <div class="nav-item" ui-sref="login"><a>Login</a></div>
        <div class="nav-item" ui-sref="signup"><a>Signup</a></div>
        <div class="nav-item" ui-sref="landing"><a>homepage</a></div>
    </div>
</nav>
<div layout="row" layout-wrap>
    <div flex="30">
    </div>

    <div flex="40" class= "md-hue-1 md-whiteframe-z2" style="margin-top: 100px;">
        <div>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Login</span>
                    </h2>
                    <span flex></span>
                </div>
            </md-toolbar>
        </div>

        <md-content class="loginContainer">
            <form class="form-horizontal" > 
                <md-input-container class="md-block">
                    <!-- Use floating placeholder instead of label -->
                    <md-icon md-svg-src="" class="email"></md-icon>
                    <input ng-model="email" type="email" placeholder="Email (required)" ng-required="true">
                </md-input-container>

                <md-input-container class="md-block">
                    <!-- Use floating placeholder instead of label -->
                    <md-icon md-svg-src="" class="password"></md-icon>
                    <input ng-model="password" type="password" placeholder="Password (required)" ng-required="true">
                </md-input-container>
                <div flex-xs flex="50" class="rememberMe">
                    <md-checkbox aria-label="Checkbox">
                        Remember Me
                    </md-checkbox>
                </div>
                <md-button class="md-raised md-primary loginButton" ng-click="login()"  type="submit">Login</md-button>
                <p class="dontHaveAccount">You don't have an account sign up for free <a href="#/signup"> here</a></p>

            </form>
        </md-content>
    </div>
    <div flex="30">
    </div>
</div>