<div id="mainContainer" class="container">
  	<div ng-show= "authData" ng-controller="PostCtrl" class="row" id="row1">

		<md-content layout-padding="">

            <form name="userForm" ng-submit="$event.preventDefault()">

				<div layout-gt-s="row">
					<md-input-container class="md-block" flex-gt-xs="">
					  <label>Name</label>
					  <input type="text" ng-model="$parent.author">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-xs="">
					  <label>Title</label>
					  <input type="text" ng-model="$parent.title">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-xs="">
					  <label>Content</label>
					  <input type="text" ng-model="$parent.textModel">
					</md-input-container>
				</div>
              
				<div>
				  <md-input-container>
				    <label>Help Catagory</label>
				    <md-select ng-model="field">
				      <md-optgroup label="Science">
				        <md-option ng-value="field.name" ng-repeat="field in fields | filter: {category: 'Science' }">{{field.name}}</md-option>
				      </md-optgroup>
				      <md-optgroup label="Engineering">
				        <md-option ng-value="field.name" ng-repeat="field in fields | filter: {category: 'Engineering' }">{{field.name}}</md-option>
				      </md-optgroup>
				    </md-select>
				  </md-input-container>
				  <md-datepicker ng-model="dueDate" md-placeholder="Due date">
				  </md-datepicker>
				</div> 
			  	<md-button class="md-raised" ng-click="postMessage()"  ng-show= "authData">Post</md-button> 
			  	{{dueDate}}
            </form>
        </md-content>


    </div>
</div>