<div id="mainContainer" class="container">
  <div ng-controller="AuthCtrl" ng-show= "authData" ng-controller="mainController" class="row" id="row1">
    <div>

      <div ui-view="postArea">
      </div>

      <div ng-repeat="post in posts | filter:name" class="panel-group" id="accordion" >
        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a href="" ng-click="isCollapsed = !isCollapsed">
                  Assignment help in {{ post.title }} By {{ post.author }}
                </a>
              </h4>
            </div>
            <div ng-show="isCollapsed">
              <div class="panel-body">
                {{ post.content }}
              </div>
            </div>
        </div>
      </div>

    </div>
</div>