<div id="mainContainer" >
<div  layout="row" id="row1">
    <div ng-show= "currentUserType == 'Student'" layout-margin flex>
        <div ui-view="postArea">
        </div>
    </div>
    <div layout-margin flex  ng-show= "currentUserType == 'Student'" >
        <div ui-view="studentAssignmentsArea">        
        </div>
    </div>
    <div layout-margin flex="60" ng-show= "currentUserType == 'Tutor'" >
        <div ui-view="tutorAssignmentsArea">        
        </div>
    </div>
    <div flex layout-margin>
        <div layout="column">
        <md-whiteframe layout-padding layout-margin md-whiteframe="1" flex>
            <h1 class="md-title">my profile</h1>
            <div layout="row" layout-align="center center">
                <div>
                    <img class="dashbord-tutor-img" src="../images/abdul_img.png">
                </div>
                <div flex layout="column" class="dashbord-tutor-info">
                    <div>Welcome, Abdul</div>
                    <md-subheader>profile strength</md-subheader>
                    <div layout="row" layout-align="left center" class="dashbord-progress">
                        <md-progress-linear md-mode="determinate" value="30"></md-progress-linear><div style="padding-left:5px; color:rgba(0,0,0,0.54);">30%</div>
                    </div>
                    <div><a ui-sref="dashboard.myProfile">continue profile setup</a></div>
                </div>
            </div>
            
        </md-whiteframe>
        <div layout="row" flex>
            <md-whiteframe layout-padding layout-margin md-whiteframe="1" flex>
                <div layout="row" layout-align="center center">
                    <div flex>
                        <div class="md-display-1">32</div>
                        <div>finished jobs</div>
                    </div>
                    <div><md-icon class="material-icons about-icon dashboard-icon">assignment_turned_in</md-icon></div>
                </div>
            </md-whiteframe>
            <md-whiteframe layout-padding layout-margin md-whiteframe="1" flex>
                <div layout="row" layout-align="center center">
                    <div flex>
                        <div class="md-display-1">$503</div>
                        <div>total revenue</div>
                    </div>
                    <div><md-icon class="material-icons about-icon dashboard-icon" style="color:#008943;">attach_money</md-icon></div>
                </div>
            </md-whiteframe>
        </div>
        <div layout="row" flex>
            <md-whiteframe layout-padding layout-margin md-whiteframe="1" flex>
                <div layout="row" layout-align="center center">
                    <div flex>
                        <div class="md-display-1">2</div>
                        <div>active jobs</div>
                    </div>
                    <div><md-icon class="material-icons about-icon dashboard-icon" style="color:#410089;">notifications_active</md-icon></div>
                </div>
            </md-whiteframe>
            <md-whiteframe layout-padding layout-margin md-whiteframe="1" flex>
                <div layout="row" layout-align="center center">
                    <div flex>
                        <div class="md-display-1">13</div>
                        <div>pending proposals</div>
                    </div>
                    <div><md-icon class="material-icons about-icon dashboard-icon" style="color:#008983;">folder_special</md-icon></div>
                </div>
            </md-whiteframe>
        </div>
        </div>
    </div>
</div>