<div ng-controller="MessagesCtrl" layout="column" flex layout-fill ng-cloak>
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">My Messages</div>
  </md-toolbar>
  <md-content style="height: 600px;" md-theme="altTheme">
    <section>
      <md-subheader class="md-primary">New Proposals</md-subheader>
      <md-list layout-padding>
        <md-list-item class="md-3-line" ng-repeat="message in messages  | reverse">
            <img ng-src="{{imagePath}}" class="md-avatar" alt="{{message.tutorName}}">
            <div class="md-list-item-text">
              <h3>{{message.tutorName}}</h3>
              <h4>{{message.tutorName}}</h4>
              <p>
                {{message.tutorID}}
              </p>
            </div>
        </md-list-item>
      </md-list>
    </section>
    <section>
      <md-subheader class="md-warn">Old Proposals</md-subheader>
      <md-list layout="column" layout-padding>
        <md-list-item class="md-3-line" ng-repeat="message in messages">
          <img ng-src="{{imagePath}}" class="md-avatar" alt="{{message.who}}">
          <div class="md-list-item-text">
            <h3>{{message.what}}</h3>
            <h4>{{message.who}}</h4>
            <p>
              {{message.notes}}
            </p>
          </div>
        </md-list-item>
      </md-list>
    </section>
  </md-content>
</div>