<div id="profileContainer" class="container" layout="column">

    <!-- Container #1 (see wireframe) -->
    <md-toolbar  class="md-hue-1" layout="row" ng-controller="ListBottomSheetCtrl" >
      <h1>Tutoring Material - CMSI 402 App</h1>
      <button class="md-button md-default-theme" ng-transclude="" aria-label="Open Settings" ng-click="showListBottomSheet($event)" tabindex="0">
            <ng-md-icon icon="more_vert" class="ng-scope"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"></path><path d="M12 16c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path><path d="M12 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg></ng-md-icon>
          <div class="md-ripple-container"></div></button>
    </md-toolbar>


    <!-- Container #2 -->
    <div ng-controller="ProfileCtrl" flex layout="row" id="profileContainer" class="container">

        <!-- Container #3 -->
        <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2" >

        <!-- this is the toolbar that holds the avatar and names -->
          <md-toolbar class="md-tall md-hue-2">
            <span flex></span>
              <div layout="column" class="md-toolbar-tools-bottom inset">
              <user-avatar></user-avatar>
              <span></span>
              <div>Firstname Lastname</div>
              <div>email@domainname.com</div>
            </div>
          </md-toolbar>

          <md-list>
          <md-item ng-repeat="item in menu">
            <a>
              <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                  <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                </div>
                <md-button>
                  <div class="inset">{{item.title}}
                  </div>
                </md-button>
              </md-item-content>
            </a>
          </md-item>

          <md-divider></md-divider>
          <md-subheader>Management</md-subheader>
          <md-item ng-repeat="item in admin">
            <a>
              <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                  <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                </div>
                <md-button>
                  <div class="inset">{{item.title}}
                  </div>
                </md-button>
              </md-item-content>
            </a>
          </md-item>
        </md-list>



          <md-list ng-model="user">
                  <!-- List item #1 -->
                  <md-list-item >
                      <md-button >
                        <md-icon md-svg-src="" ng-model="user.firstName" class="avatar"></md-icon>
                        {{user.firstName}}
                      </md-button>
                  </md-list-item>

                  <!-- List item #2 -->
                  <md-list-item >
                      <md-button>
                       <md-icon md-svg-src="" class="avatar"></md-icon>
                        Lawrence Ray
                      </md-button>
                  </md-list-item>
          </md-list>
        </md-sidenav>

        <!-- Container #4 -->
        <md-content flex id="content"> 
           <div ng-cloak="" ng-app="myApp" class="tabsdemoDynamicHeight" ng-controller="ProfileCtrl">
            <md-content>
              <md-tabs md-dynamic-height="" md-border-bottom="">
                <md-tab label="one">
                  <md-content class="md-padding">
                    <h1 class="md-display-2">Profile</h1>
                    
                    <div ng-controller="ProfileCtrl" layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage" ng-app="MyApp">

                      <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="">
                        <div >
                          <md-input-container>
                            <label>Title</label>
                            <input placeholder="masterBro"  ng-model="user.title">
                          </md-input-container>

                          <md-input-container>
                            <label>Email</label>
                            <input placeholder="name@gmail.com"  ng-model="user.email" type="email">
                          </md-input-container>
                        </div>
                      </md-content>

                      <md-content layout-padding="">
                        <div>
                          <form name="userForm">

                            <div layout-gt-xs="row">
                              <md-input-container class="md-block" flex-gt-xs="">
                                <label>Company </label>
                                <input placeholder="Google" ng-model="user.company">
                              </md-input-container>

                              <md-datepicker ng-model="user.submissionDate" class="datepicker" md-placeholder="Enter date">
                              </md-datepicker>
                            </div>

                            <div layout-gt-sm="row">
                              <md-input-container class="md-block" flex-gt-sm="">
                                <label>First name</label>
                                <input placeholder="Marc"  ng-model="user.firstName">
                              </md-input-container>

                              <md-input-container class="md-block" flex-gt-sm="">
                                <label>Last Name</label>
                                <input placeholder="Putin" ng-model="user.lastName">
                              </md-input-container>
                            </div>

                            <md-input-container class="md-block">
                              <label>Address</label>
                              <input placeholder="4145 Via Marina"  ng-model="user.address">
                            </md-input-container>

                            <md-input-container md-no-float="" class="md-block">
                              <input placeholder="unit 261"  ng-model="user.address2" placeholder="Address 2">
                            </md-input-container>

                            <div layout-gt-sm="row">
                              <md-input-container class="md-block" flex-gt-sm="">
                                <label>City</label>
                                <input placeholder="Marina del Rey" ng-model="user.city">
                              </md-input-container>

                              <md-input-container class="md-block" flex-gt-sm="">
                                <label>State</label>
                                <md-select ng-model="user.state">
                                  <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                    {{state.abbrev}}
                                  </md-option>
                                </md-select>
                              </md-input-container>

                              <md-input-container class="md-block" flex-gt-sm="">
                                <label>Postal Code</label>
                                <input name="postalCode" ng-model="user.postalCode" placeholder="12345" required="" ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                                <div ng-messages="userForm.postalCode.$error" role="alert" multiple="">
                                  <div ng-message="required" class="my-message">You must supply a postal code.</div>
                                  <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                                    code.
                                  </div>
                                  <div ng-message="md-maxlength" class="my-message">
                                    Don't use the long version silly...we don't need to be that specific...
                                  </div>
                                </div>
                              </md-input-container>
                            </div>

                            <md-input-container class="md-block">
                              <label>Biography</label>
                              <textarea placeholder="Spcialized in Marketing, and Math"  ng-model="user.biography" columns="1" md-maxlength="150" rows="5"></textarea>
                            </md-input-container>
                            <md-button class="md-primary" ng-click="updateProfile()">{{title}}</md-button>
                          </form>
                        </div>
                      </md-content>

                    </div>
                  </md-content>
                </md-tab>
              </md-tabs>
            </md-content>
          </div>
        </md-content>
    </div>
</div>