
<div layout="row" layout-wrap>
    <div flex="70" layout="column">
        <md-whiteframe md-whiteframe="3" layout-padding layout-margin flex>
            <div layout="row" layout-align="center center">
                <h1 class="md-headline">Tile of the project</h1>
                <span flex=""></span>
                <span><md-button class="md-raised">Read full post</md-button></span>
            </div>
            <div ng-cloak>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Messaging">
                        <div>
                            <md-content>
                                <md-content md-scroll-y id="chat" class="chat-container" style="height: 460px;" scroll-glue>
                                    <section>
                                        <md-subheader>Messages</md-subheader>
                                        <md-list layout-padding>
                                            <md-list-item class="md-3-line chat">
                                                <img ng-src="../images/abdul_img.png" class="md-avatar" alt="">
                                                <div class="md-list-item-text">
                                                    <p class="md-body-2">
                                                        This is my message to you
                                                    </p>
                                                    <p>
                                                        this is double content
                                                    </p>
                                                    <p class="md-body-2">
                                                        this is a long content that will wrap around the dive and go to the next line of the chat div this is a long content that will wrap around the dive and go to the next line of the chat div
                                                    </p>
                                                    <p>
                                                        test attachments
                                                    </p>
                                                    <p>
                                                    <div class="attachments-list">
                                                        <div class="attachment-item" layout-align="center center">
                                                            <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="download">
                                                                <md-icon class="material-icons">file_download</md-icon>
                                                            </md-button>
                                                            <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                                                <i class="fa fa-file-pdf-o"></i>
                                                            </div>
                                                            <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                                                        </div>
                                                        <div class="attachment-item" layout-align="center center">
                                                            <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="download">
                                                                <md-icon class="material-icons">file_download</md-icon>
                                                            </md-button>
                                                            <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                                                <i class="fa fa-file-powerpoint-o"></i>
                                                            </div>
                                                            <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                                                        </div>
                                                        <div class="attachment-item" layout-align="center center">
                                                            <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="download">
                                                                <md-icon class="material-icons">file_download</md-icon>
                                                            </md-button>
                                                            <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                                                <i class="fa fa-file-word-o"></i>
                                                            </div>
                                                            <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                                                        </div>
                                                    </div>
                                                    </p>
                                                </div>
                                            </md-list-item>
                                        <md-list-item class="md-3-line chat">
                                            <img ng-src="../images/abdul_img.png" class="md-avatar" alt="">
                                            <div class="md-list-item-text personal-chat">
                                                <p>
                                                    This is my message to you
                                                </p>
                                            </div>
                                        </md-list-item>
                                        <md-list-item class="md-3-line chat">
                                            <img ng-src="../images/abdul_img.png" class="md-avatar" alt="">
                                            <div class="md-list-item-text personal-chat">
                                                <p>
                                                    This is my message to you
                                                </p>
                                                <p>
                                                    Welcome to the tutoring app i hope you like it
                                                </p>

                                                <p>
                                                    what can i help you with?
                                                </p>

                                            </div>
                                        </md-list-item>
                                        </md-list>
                                    </section>
                                <section>
                                    <md-subheader class="md-primary">Unread Messages</md-subheader>
                                    <md-list layout="column" layout-padding>
                                        <md-list-item class="md-3-line chat">
                                            <img ng-src="../images/abdul_img.png" class="md-avatar" alt="">
                                            <div class="md-list-item-text ">
                                                <p class="md-body-2">
                                                    This is my message to you
                                                </p>
                                                <p>
                                                    this is double content
                                                </p>
                                                <p class="md-body-2">
                                                    this is a long content that will wrap around the dive and go to the next line of the chat div this is a long content that will wrap around the dive and go to the next line of the chat div
                                                </p>
                                                <p>
                                                    test attachments
                                                </p>
                                                <p>
                                                <div class="attachments-list">
                                                    <div class="attachment-item" layout-align="center center">
                                                        <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="download">
                                                            <md-icon class="material-icons">file_download</md-icon>
                                                        </md-button>
                                                        <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                                            <i class="fa fa-file-pdf-o"></i>
                                                        </div>
                                                        <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                                                    </div>
                                                    <div class="attachment-item" layout-align="center center">
                                                        <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="download">
                                                            <md-icon class="material-icons">file_download</md-icon>
                                                        </md-button>
                                                        <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                                            <i class="fa fa-file-powerpoint-o"></i>
                                                        </div>
                                                        <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                                                    </div>
                                                    <div class="attachment-item" layout-align="center center">
                                                        <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="download">
                                                            <md-icon class="material-icons">file_download</md-icon>
                                                        </md-button>
                                                        <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                                            <i class="fa fa-file-word-o"></i>
                                                        </div>
                                                        <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                                                    </div>
                                                </div>
                                                </p>
                                            </div>
                                        </md-list-item>
                                    <md-list-item class="md-3-line chat">
                                        <img ng-src="../images/abdul_img.png" class="md-avatar" alt="">
                                        <div class="md-list-item-text">
                                            <p>
                                                This is my message to you
                                            </p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-3-line chat">
                                        <img ng-src="../images/abdul_img.png" class="md-avatar" alt="">
                                        <div class="md-list-item-text personal-chat">
                                            <p>
                                                I can help you with that for sure
                                            </p>
                                            <p>
                                                Just send me the report and i will send you my feedback
                                            </p>
                                        </div>
                                    </md-list-item>
                                    </md-list>
                                </section>
                            </md-content>
                        </md-content>
                    </div>
                <div class="send-chat-container">
                    <div layout="row" layout-align="center center">
                        <md-button aria-label="Send" class="md-icon-button" md-no-focus-style><md-icon class="material-icons about-icon">attach_file</md-icon></md-button>
                        <md-input-container class="md-block dense-form" flex-gt-sm>
                            <label>Text</label>
                            <input required type="text">
                        </md-input-container>
                        <md-button aria-label="Send" class="md-icon-button" md-no-focus-style><md-icon class="material-icons about-icon">send</md-icon></md-button>
                    </div>

                    <!-- Show on attachment added -->
                    <div class="attachments-list" ng-hide="true">
                        <div class="attachment-item" layout-align="center center">
                            <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="delete">
                                <md-icon class="material-icons">delete</md-icon>
                            </md-button>
                            <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                <i class="fa fa-file-pdf-o"></i>
                            </div>
                            <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                        </div>
                        <div class="attachment-item" layout-align="center center">
                            <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="delete">
                                <md-icon class="material-icons">delete</md-icon>
                            </md-button>
                            <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                <i class="fa fa-file-powerpoint-o"></i>
                            </div>
                            <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                        </div>
                        <div class="attachment-item" layout-align="center center">
                            <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="delete">
                                <md-icon class="material-icons">delete</md-icon>
                            </md-button>
                            <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                <i class="fa fa-file-word-o"></i>
                            </div>
                            <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                        </div>
                    </div>
                </div>
                <!--        </div>-->
                </md-tab>
            <md-tab label="Submission">
                <div class="md-padding">
                <h1 class="md-title">Submit final work</h1>
                <p class="md-body-1">Here you will submit the final work to the client so he can accepte it and you will get your money</p>
        <form name="userForm">
                    <md-input-container class="md-block dense-form" flex-gt-sm >
                        <label>title</label>
                        <input required type="text">
                    </md-input-container>
                <md-input-container class="md-block dense-form">
                    <label>comment</label>
                    <textarea rows="5" ng-model="proposalMessage"></textarea>
                </md-input-container>

                <div layout="row" layout-align="center center">
                  <md-input-container class="md-block dense-form" flex-gt-sm>
<!--                        <label>Add Attachments</label>-->
                         <md-button aria-label="attach" md-no-focus-style><md-icon class="material-icons about-icon">attach_file</md-icon> Attach file</md-button> <span>no files attached</span>
                    </md-input-container>
                   <span flex></span>
                    <md-button class="md-raised md-primary">submit</md-button>	
                </div>
                

</form>

                </div>
            </md-tab>
            </md-tabs>
    </div>


    </md-whiteframe>        
</div>
<div flex="30">
    <md-whiteframe layout-margin md-whiteframe="3" flex layout="column">
        <md-button class="md-raised md-primary" ng-click="propose(authorID, jobID)">Propose</md-button>
        <md-button class="md-raised">Bookmark</md-button>
        <md-divider></md-divider>
        <div class="md-title" style="text-align:center">User Details</div>
        <div class="user-info" style="text-align:center">
            <img src="../images/abdul_img.png" class="md-avatar profile-image" />
            <div class="md-title">Abdul zaid</div>
            <div>
                <span><md-icon class="material-icons star-icon-colored">star</md-icon></span>
                <span><md-icon class="material-icons star-icon-colored">star</md-icon></span>
                <span><md-icon class="material-icons star-icon-colored">star</md-icon></span>
                <span><md-icon class="material-icons star-icon-colored">star</md-icon></span>
                <span><md-icon class="material-icons star-icon">star</md-icon></span>
            </div>
            <div class="md-subhead">16 reviews</div>
        </div>
        <md-divider></md-divider>
        <div class="md-title">About:</div>
        <md-list>
            <md-list-item class="md-1-line">
                <span><md-icon class="material-icons about-icon">work</md-icon></span>
                <div class="md-list-item-text">
                    <p>5 Jobs done</p>
                </div>
            </md-list-item>
            <md-list-item class="md-1-line">
                <span><md-icon class="material-icons about-icon">location_on</md-icon></span>
                <div class="md-list-item-text">
                    <p>From Saudi Arabia</p>
                </div>
            </md-list-item>
            <md-list-item class="md-1-line">
                <span><md-icon class="material-icons about-icon">school</md-icon></span>
                <div class="md-list-item-text">
                    <p>Student at KFUPM</p>
                </div>
            </md-list-item>
            <md-list-item class="md-1-line">
                <span><md-icon class="material-icons about-icon">book</md-icon></span>
                <div class="md-list-item-text">
                    <p>Studying Software Engineering</p>
                </div>
            </md-list-item>
        </md-list>
        <div layout="row">
            <span flex=""></span>
            <span><md-button class="md-raised"><md-icon class="material-icons" style="color: darkgreen">check</md-icon> Verified</md-button></span>
        </div>
    </md-whiteframe>
</div>
</div>
<script>
    //    function updateChatScroll()
    //    {
    //        $('#chat').scrollTop($('#chat')[0].scrollHeight);    
    //        $("#chat").animate({ scrollTop: $('#chat').attr("scrollHeight")}, 1000);
    //        console.log(element.scrollHeight);
    //    }
    //    updateChatScroll();
    $( document ).ready(function() {
        $("#chat").scrollTo(700);
    });

</script>
<!--
<script>
$(".chat-container").prop({ scrollTop: $(".chat-container").prop("scrollHeight") });
</script>-->
