
<div layout="row" layout-wrap>
    <div flex="70" layout="column">
        <md-whiteframe md-whiteframe="3" layout-padding layout-margin flex>
            <div layout="row" layout-align="center center">
                <h1 class="md-headline">{{projectTitle}}</h1>
                <span flex=""></span>
                <span><md-button class="md-raised" ui-sref= "jobPost({jobID: jobID})">Read full post</md-button></span>
            </div>
            <div ng-cloak>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Messaging">
                        <div>
                            <md-content>
                                <md-content md-scroll-y id="chat" class="chat-container" style="height: 460px;" scroll-glue>
                                    <section>
                                        <md-subheader>Messages</md-subheader>
                                        <md-list layout-padding>
                                        <md-list-item class="md-3-line chat">
                                                <img ng-src="../images/abdul_img.png" class="md-avatar" alt="">
                                                <div class="md-list-item-text">
                                                    <p class="md-body-2">
                                                        This is my message to you
                                                    </p>
                                                    <p>
                                                        this is double content
                                                    </p>
                                                    <p class="md-body-2">
                                                        this is a long content that will wrap around the dive and go to the next line of the chat div this is a long content that will wrap around the dive and go to the next line of the chat div
                                                    </p>
                                                    <p>
                                                        test attachments
                                                    </p>
                                                    <p>
                                                    <div class="attachments-list">
                                                        <div class="attachment-item" layout-align="center center">
                                                            <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="download">
                                                                <md-icon class="material-icons">file_download</md-icon>
                                                            </md-button>
                                                            <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                                                <i class="fa fa-file-pdf-o"></i>
                                                            </div>
                                                            <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                                                        </div>
                                                        <div class="attachment-item" layout-align="center center">
                                                            <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="download">
                                                                <md-icon class="material-icons">file_download</md-icon>
                                                            </md-button>
                                                            <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                                                <i class="fa fa-file-powerpoint-o"></i>
                                                            </div>
                                                            <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                                                        </div>
                                                        <div class="attachment-item" layout-align="center center">
                                                            <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="download">
                                                                <md-icon class="material-icons">file_download</md-icon>
                                                            </md-button>
                                                            <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                                                <i class="fa fa-file-word-o"></i>
                                                            </div>
                                                            <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                                                        </div>
                                                    </div>
                                                    </p>
                                                </div>
                                        </md-list-item>
                                        <md-list-item class="md-3-line chat" ng-repeat="message in messagesArray | orderBy:'-messageTime'" >
                                        <!-- work on these to assign images to users correctly -->
                                            <img ng-src="../images/angular-avatars/avatar-03.png" ng-show="currentUserImage"  class="md-avatar" alt="">
                                            <img ng-src="../images/angular-avatars/avatar-05.png" ng-show="!currentUserImage"class="md-avatar" alt="">
                                            <div ng-class="{'md-list-item-text personal-chat': message.authorName == currentUserName, 'md-list-item-text chat': message.authorName != currentUserName} " >
                                                <p>
                                                    {{message.messageContent}}
                                                </p>
                                            </div>
                                        </md-list-item>
<!--                                         <md-list-item class="md-3-line chat">
                                            <img ng-src="../images/abdul_img.png" class="md-avatar" alt="">
                                            <div class="md-list-item-text ">
                                                <p>
                                                    This is my message to you
                                                </p>
                                                <p>
                                                    Welcome to the tutoring app i hope you like it
                                                </p>

                                                <p>
                                                    what can i help you with?
                                                </p>

                                            </div>
                                        </md-list-item> -->
                                        </md-list>
                                    </section>
<!--                                 <section>
                                    <md-subheader class="md-primary">Unread Messages</md-subheader>
                                    <md-list layout="column" layout-padding>
                                        <md-list-item class="md-3-line chat">
                                            <img ng-src="../images/abdul_img.png" class="md-avatar" alt="">
                                            <div class="md-list-item-text ">
                                                <p class="md-body-2">
                                                    This is my message to you
                                                </p>
                                                <p>
                                                    this is double content
                                                </p>
                                                <p class="md-body-2">
                                                    this is a long content that will wrap around the dive and go to the next line of the chat div this is a long content that will wrap around the dive and go to the next line of the chat div
                                                </p>
                                                <p>
                                                    test attachments
                                                </p>
                                                <p>
                                                <div class="attachments-list">
                                                    <div class="attachment-item" layout-align="center center">
                                                        <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="download">
                                                            <md-icon class="material-icons">file_download</md-icon>
                                                        </md-button>
                                                        <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                                            <i class="fa fa-file-pdf-o"></i>
                                                        </div>
                                                        <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                                                    </div>
                                                    <div class="attachment-item" layout-align="center center">
                                                        <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="download">
                                                            <md-icon class="material-icons">file_download</md-icon>
                                                        </md-button>
                                                        <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                                            <i class="fa fa-file-powerpoint-o"></i>
                                                        </div>
                                                        <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                                                    </div>
                                                    <div class="attachment-item" layout-align="center center">
                                                        <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="download">
                                                            <md-icon class="material-icons">file_download</md-icon>
                                                        </md-button>
                                                        <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                                            <i class="fa fa-file-word-o"></i>
                                                        </div>
                                                        <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                                                    </div>
                                                </div>
                                                </p>
                                            </div>
                                        </md-list-item>
                                    <md-list-item class="md-3-line chat" ng-repeat="reply in messagesArray | orderBy:'-messageTime'" ng-show="reply.authorName != currentUserName">
                                        <img ng-src="../images/abdul_img.png" class="md-avatar" alt="">
                                        <div class="md-list-item-text">
                                            <p>
                                                {{reply.messageContent}}
                                            </p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-3-line chat">
                                        <img ng-src="../images/abdul_img.png" class="md-avatar" alt="">
                                        <div class="md-list-item-text personal-chat">
                                            <p>
                                                I can help you with that for sure
                                            </p>
                                            <p>
                                                Just send me the report and i will send you my feedback
                                            </p>
                                        </div>
                                    </md-list-item>
                                    </md-list>
                                </section> -->
                            </md-content>
                        </md-content>
                    </div>
                <div class="send-chat-container">
                    <div layout="row" layout-align="center center">
                        <md-button aria-label="Send" class="md-icon-button" md-no-focus-style><md-icon class="material-icons about-icon">attach_file</md-icon></md-button>
                        <md-input-container class="md-block dense-form" flex-gt-sm>
                            <label>Text</label>
                            <input required type="text" ng-model="message">
                        </md-input-container>
                        <md-button aria-label="Send" class="md-icon-button" md-no-focus-style><md-icon class="material-icons about-icon" ng-click="sendMessage()">send</md-icon></md-button>
                    </div>

                    <!-- (Note) Show on attachment added -->
                    <div class="attachments-list" ng-hide="true">
                        <div class="attachment-item" layout-align="center center">
                            <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="delete">
                                <md-icon class="material-icons">delete</md-icon>
                            </md-button>
                            <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                <i class="fa fa-file-pdf-o"></i>
                            </div>
                            <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                        </div>
                        <div class="attachment-item" layout-align="center center">
                            <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="delete">
                                <md-icon class="material-icons">delete</md-icon>
                            </md-button>
                            <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                <i class="fa fa-file-powerpoint-o"></i>
                            </div>
                            <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                        </div>
                        <div class="attachment-item" layout-align="center center">
                            <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="delete">
                                <md-icon class="material-icons">delete</md-icon>
                            </md-button>
                            <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                <i class="fa fa-file-word-o"></i>
                            </div>
                            <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                        </div>
                    </div>
                </div>
                <!--        </div>-->
                </md-tab>
            <md-tab label="Submission">
                <div class="md-padding">
<!--                <div class="list-of-work">-->
                        <div class="md-whiteframe-1dp" layout-padding layout-margin >
                        <h1  class="md-title">Final work submission</h1>
                            
<!--                            <h4></h4>-->
                            <p ng-show="true" class="md-body-1">verdsfsdf sdl;fs fdsla; fdsf l;asdfk ;lsf sd fl;sdf sd;lf sadf sdfl sdflds;a 'lksdfadsl; fs;fl'a sd</p>
                             <!-- (note) show only when edit -->
                            <md-input-container ng-show="false" style="margin-top:20px;" class="md-block dense-form">
                                <label>comment</label>
                                <textarea rows="5">verdsfsdf sdl;fs fdsla;fdsf l;asdfk ;lsf sd fl;sdf sd;lf sadf sdfl sdflds;a'lksdfadsl; fs;fl'a sd</textarea>
                            </md-input-container>
                            <div class="attachments" >
              
               <div class="attachments-list">
                    <h1  class="md-title">Attachments</h1>
                    <div class="attachment-item" layout-align="center center">
                        <md-button ng-show="true" class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="download">
                            <md-icon class="material-icons">file_download</md-icon>
                        </md-button>
                        <!-- (note) show only when edit -->
                        <md-button ng-show="false" class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="delete">
                                <md-icon class="material-icons">delete</md-icon>
                        </md-button>
                        <div class="attachment-item-content" flex layout="column" layout-align="center center">
                            <i class="fa fa-file-pdf-o"></i>
                        </div>
                        <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                    </div>
                    <div class="attachment-item" layout-align="center center">
                        <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="download">
                            <md-icon class="material-icons">file_download</md-icon>
                        </md-button>
                        <div class="attachment-item-content" flex layout="column" layout-align="center center">
                            <i class="fa fa-file-powerpoint-o"></i>
                        </div>
                        <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                    </div>
                    <div class="attachment-item" layout-align="center center">
                        <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="download">
                            <md-icon class="material-icons">file_download</md-icon>
                        </md-button>
                        <div class="attachment-item-content" flex layout="column" layout-align="center center">
                            <i class="fa fa-file-word-o"></i>
                        </div>
                        <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                    </div>
                </div>
            </div>
                        <!-- (note) show only when edit -->
                         <div layout="row" layout-align="center center" ng-show="false">
                  <md-input-container class="md-block dense-form" flex-gt-sm>
<!--                        <label>Add Attachments</label>-->
                         <md-button aria-label="attach" md-no-focus-style><md-icon class="material-icons about-icon">attach_file</md-icon> Attach file</md-button> <span>no files attached</span>
                    </md-input-container>
                   <span flex></span>
                    <md-button class="md-raised md-primary">submit</md-button>	
                </div>
                        <div layout="row" layout-align="center center" ng-show="true">
                         <span flex></span>
                         <!-- (note) show only for the student -->
                         <div ng-show="true">
                             <md-button class="md-warn md-raised">Reject</md-button>
                             <md-button class="md-primary md-raised">Accept</md-button>
                             <!-- (note) show dialog when accept or reject:
                             1- accept = accpeting this final submssion will release the paymane, are you sure you want to accept? button: "accept and release payment" or "cancel"
                             2- rejcet: are you sure you want to reject the submissio? textarea: "write the reason". button: "Reject" or "Cancel"
                             -->
                         </div>
                         <!-- (note) show only for tutor when he submits the job  -->
                         <md-button class="md-primary md-raised" ng-show="false">Edit</md-button>
                         </div>
                        </div>
                    
<!--                </div>-->
                <!-- (Note) hide dive when work is already submited -->
                <div ng-show="false">
                <h1 class="md-title">Submit final work</h1>
                <p class="md-body-1">Here you will submit the final work to the client so he can accepte it and you will get your money</p>
        <form name="userForm">
<!--
                    <md-input-container class="md-block dense-form" flex-gt-sm >
                        <label>title</label>
                        <input required type="text">
                    </md-input-container>
-->
                <md-input-container class="md-block dense-form">
                    <label>comment</label>
                    <textarea rows="5" ng-model="proposalMessage"></textarea>
                </md-input-container>
                <!-- (Note) Show on attachment added -->
                    <div class="attachments-list" ng-hide="true">
                        <div class="attachment-item" layout-align="center center">
                            <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="delete">
                                <md-icon class="material-icons">delete</md-icon>
                            </md-button>
                            <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                <i class="fa fa-file-pdf-o"></i>
                            </div>
                            <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                        </div>
                        <div class="attachment-item" layout-align="center center">
                            <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="delete">
                                <md-icon class="material-icons">delete</md-icon>
                            </md-button>
                            <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                <i class="fa fa-file-powerpoint-o"></i>
                            </div>
                            <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                        </div>
                        <div class="attachment-item" layout-align="center center">
                            <md-button class="md-primary md-raised attachment-item-download" flex layout="rwo" layout-align="center center" aria-label="delete">
                                <md-icon class="material-icons">delete</md-icon>
                            </md-button>
                            <div class="attachment-item-content" flex layout="column" layout-align="center center">
                                <i class="fa fa-file-word-o"></i>
                            </div>
                            <div class="attachment-item-footer"><div><span>This is the name of the file</span></div></div>
                        </div>
                    </div>
                <div layout="row" layout-align="center center">
                  <md-input-container class="md-block dense-form" flex-gt-sm>
<!--                        <label>Add Attachments</label>-->
                         <md-button aria-label="attach" md-no-focus-style><md-icon class="material-icons about-icon">attach_file</md-icon> Attach file</md-button> <span>no files attached</span>
                    </md-input-container>
                   <span flex></span>
                    <md-button class="md-raised md-primary">submit</md-button>	
                </div>
                

</form>

                </div>
                </div>
            </md-tab>
            <md-tab label="Review">
               <div class="md-padding">
                    <h1 class="md-title">Review and Rate the tutor</h1>
                    <p class="md-body-1">Help us in rating the work of the tutor, this will help us in bringing better tutors, and also in selecting the best tutors for you in future work. </p>
                    <div>
                        <label>Rating cratira 1</label>
                    </div>
                    <div>
                        <label>Rating cratira 1</label>
                    </div>
                    <div>
                        <label>Rating cratira 1</label>
                    </div>

    <!--                <h1 class="md-subtitle">review</h1>-->
                    <md-input-container class="md-block dense-form">
                       <label>Review</label>
                        <textarea></textarea>
                    </md-input-container>
                    <md-button class="md-primary">Send Review</md-button>
                </div>
            </md-tab>
            </md-tabs>
    </div>


    </md-whiteframe>        
</div>
<div flex="30">
    <md-whiteframe layout-margin md-whiteframe="3" flex layout="column">
<!--         <md-button class="md-raised md-primary" ng-click="propose(authorID, jobID)">Propose</md-button>
        <md-button class="md-raised">Bookmark</md-button>
        <md-divider></md-divider> -->
        <div class="md-title" style="text-align:center">User Details</div>
        <div class="user-info" style="text-align:center">
            <img src="../images/angular-avatars/avatar-03.png" ng-show="!currentUserImage" class="md-avatar profile-image" />
            <img src="../images/angular-avatars/avatar-05.png" ng-show="currentUserImage" class="md-avatar profile-image" />
            <div class="md-title">{{otherUserName}}</div>
            <div>
                <span><md-icon class="material-icons star-icon-colored">star</md-icon></span>
                <span><md-icon class="material-icons star-icon-colored">star</md-icon></span>
                <span><md-icon class="material-icons star-icon-colored">star</md-icon></span>
                <span><md-icon class="material-icons star-icon-colored">star</md-icon></span>
                <span><md-icon class="material-icons star-icon">star</md-icon></span>
            </div>
            <div class="md-subhead" ng-show="isTutor">16 reviews</div>
        </div>
        <md-divider></md-divider>
        <div class="md-title" ng-show="isStudent">About Student:</div>
        <div class="md-title" ng-show="isTutor">About Tutor:</div>
        <md-list>
            <md-list-item class="md-1-line" ng-show="isStudent">
                <span><md-icon class="material-icons about-icon">work</md-icon></span>
                <div class="md-list-item-text">
                    <p>5 Jobs posted</p>
                </div>
            </md-list-item>
            <md-list-item class="md-1-line" ng-show="isTutor">
                <span><md-icon class="material-icons about-icon">work</md-icon></span>
                <div class="md-list-item-text">
                    <p>5 Jobs submitted</p>
                </div>
            </md-list-item>
            <md-list-item class="md-1-line">
                <span><md-icon class="material-icons about-icon">location_on</md-icon></span>
                <div class="md-list-item-text">
                    <p>From Los Angeles</p>
                </div>
            </md-list-item>
            <md-list-item class="md-1-line" ng-show="isStudent">
                <span><md-icon class="material-icons about-icon">school</md-icon></span>
                <div class="md-list-item-text">
                    <p>Student at LMU</p>
                </div>
            </md-list-item>
            <md-list-item class="md-1-line" ng-show="isTutor">
                <span><md-icon class="material-icons about-icon">poll</md-icon></span>
                <div class="md-list-item-text">
                    <p>3 years of experince in Math, CMSI, Physics</p>
                </div>
            </md-list-item>
            <md-list-item class="md-1-line" ng-show="isStudent">
                <span><md-icon class="material-icons about-icon">book</md-icon></span>
                <div class="md-list-item-text">
                    <p>Computer Science</p>
                </div>
            </md-list-item>
        </md-list>
        <div layout="row" ng-show="isStudent">
            <span flex=""></span>
            <span><md-button class="md-raised"><md-icon class="material-icons" style="color: darkgreen">fingerprint</md-icon> Payment Verified</md-button></span>
        </div>
        <div layout="row" ng-show="isTutor">
            <span flex=""></span>
            <span><md-button class="md-raised"><md-icon class="material-icons" style="color: darkgreen">fingerprint</md-icon> Tutor is Verfied</md-button></span>
        </div>
    </md-whiteframe>
</div>
</div>
